
#vistaDesti {

    h3 {

        margin-top: 0;

    }

    .cardsRow {

        height: 310px;
        .card-wrapper {
            float: none;
            display: inline-block;
        }

        .opac {

            opacity:0.5;

        }

    }
.row-container {

}
    #transportCardsRow {

        overflow-x:scroll;

        overflow-y:hidden;

        white-space:nowrap;

    }

   

}

.destContent {

    .cardsRow {

        padding-top: 20px;

        height: 310px;

        .opac {

            opacity:0.5;

        }

    }

}

.opac {

    opacity:0.5;

}