$icon-font-path:"/bower_components/sass-bootstrap/fonts/";
 @import'sass-bootstrap/lib/bootstrap';
 // This variable overrides where is font-awesome $fa-font-path:"//netdna.bootstrapcdn.com/font-awesome/4.0.3/fonts" !default;
 // for referencing Bootstrap CDN font files directly @import'font-awesome/scss/font-awesome';
 @import'bootstrap-social/bootstrap-social';
 html, body {
    height: 100%;
    background-image: url(../images/bg.png);
}

/*
    ng-cloack oculta las vistas antes de ser compiladas (tratadas por un controlador).
    El objetivo es ocultar el parpadeo 
*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.logo {
    max-width: 100%;
}
.landing {
    margin-top: 50px;
}
.central-column {
    @extend .col-lg-4;
    @extend .col-lg-offset-4;
    @extend .col-md-4;
    @extend .col-md-offset-4;
    @extend .col-sm-4;
    @extend .col-sm-offset-4;
}
#veil {
    .sprite-spinner {
        overflow: hidden;
        position: relative;
        display:inline-block;
        text-align:left;
        width: 30px;
        height: 30px;
    }
    .spinner-wrap {
        text-align:center;
        margin:100px auto;
    }
}

/* Muestra la navbar por encima del tutorial del uso de cards */
.navbar {
    z-index: 1;
}