<!-- MENU PARA ACEPTAR PLAN --> 
            
<div class="modal-header">
   
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Confirmar plan</h4>

</div>
<div class="modal-body">
    
    <div class="input-group">
       
        ¿Estás seguro de que quiere aceptar este plan?
    
    </div>

</div>
<div class="modal-footer">
    
    <button type="button" class="btn btn-default" ng-click="cancel()">Cancelar</button>
    <button type="button" class="btn btn-primary" ng-click="confirmAcceptedPlan()">Aceptar</button>
    
</div>

