<div class="modal-header">

    <button type="button" class="close" ng-click="cancel()">&times;</button>

    <h4 class="modal-title" id="myModalLabel">Añadir nueva card - Otros</h4>

</div>
<div class="modal-body">
    <form name="formAddCardOther" novalidate ng-submit="addCard()">

        <div class="input-group">

            <span class="input-group-addon">
                <span class="glyphicon glyphicon-pencil"></span>
            </span>
            <fieldset>
                <input type="text" class="form-control" placeholder="Nombre" name="nombre" ng-model="newCard.name" required>
            </fieldset>

        </div>

        <div class="error" ng-show="formAddCardOther.nombre.$dirty && formAddCardOther.nombre.$invalid">
            <small class="error" ng-show="formAddCardOther.nombre.$error.required">
                La card necesita un destino.
            </small>
        </div>

        </br>
        <div class="input-group">

            <span class="input-group-addon">
                <span class="glyphicon glyphicon-comment"></span>
            </span>
            <fieldset>
                <input type="text" class="form-control" placeholder="Descripcion" name="descripcion" ng-model="newCard.description">

            </fieldset>

        </div>
        </br>

        <div class="input-group">

            <span class="input-group-addon">
                <span class="glyphicon glyphicon-pushpin"></span>
            </span>
            <fieldset>
                <input type="text" class="form-control" placeholder="Link" name="link" ng-model="newCard.link">

            </fieldset>

        </div>

        </br>
        <div class="input-group">

            <span class="input-group-addon">
                <span class="glyphicon glyphicon-euro"></span>
            </span>
            <fieldset>
                <input type="text" class="form-control" placeholder="Precio" name="precio" ng-model="newCard.price" required>

            </fieldset>

        </div>

        <div class="error" ng-show="formAddCardOther.precio.$dirty && formAddCardOther.precio.$invalid">
            <small class="error" ng-show="formAddCardOther.precio.$error.required">
                La card necesita un precio.
            </small>
        </div>

        </br>
        <div class="input-group">

            <span class="input-group-addon">
                <span class="glyphicon glyphicon-plane"></span>
            </span>

                <select class="form-control" style="max-width: 210px;" name="destino" ng-model="newCard.destination" ng-options="f for f in destinations" required>

                    <option value="" disabled selected>Selecciona el destino</option>

                </select>
                <button type="button" class="btn btn-default btn-sm" ng-click="openAddDestinationModal()">
                    <span class="glyphicon glyphicon-plus-sign"></span>Nuevo Destino

                </button>

        </div>
    </form>

</div>
<div class="modal-footer">

    <button type="button" class="btn btn-default" ng-click="cancel()">Cancelar</button>

    <button type="button" class="btn btn-primary" btn-loading="{{ isCreatingCard }}" data-loading-text="Creando..." ng-click="addCardOther(newCard)" ng-disabled="formAddCardOther.$invalid">Crear</button>
</div>