<div class="modal-header">

    <button type="button" class="close" ng-click="cancel()">&times;</button>

    <h4 class="modal-title" id="myModalLabel">Añade nueva card de Transporte</h4>

</div>

<div class="modal-body">
    <form name="formAddCardTransport" novalidate ng-submit="addCard()">
        <div class="input-group">

            <span class="input-group-addon">
                <span class="glyphicon glyphicon-pencil"></span>
            </span>
            <fieldset>
                <input type="text" class="form-control" placeholder="Nombre" name="nombre" ng-model="newCard.name" required>

            </fieldset>

        </div>

        <div class="error" ng-show="formAddCardTransport.nombre.$dirty && formAddCardTransport.nombre.$invalid">
            <small class="error" ng-show="formAddCardTransport.nombre.$error.required">
                La card necesita un nombre.
            </small>
        </div>
        </br>
        <div class="input-group">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-plane"></span>
            </span>
            <div ng-show="!ifDesti()">
                <select class="form-control" style="max-width: 210px;" name="destino" ng-model="newCard.destination" ng-options="f.name as f.name for f in destinations" required>
                   <option value="" disabled selected>Selecciona el destino</option>
                </select>
                <button type="button" class="btn btn-default btn-sm" ng-click="openAddDestinationModal()">
                    <span class="glyphicon glyphicon-plus-sign"></span> Nuevo Destino

                </button>
            </div>
            <div ng-show="ifDesti()">
                <input type="text" ng-model="destiSelected.name" disabled/>
            </div>
        </div>

        <div ng-hide="masinfo == 1">

            </br>
            <center><a type="button" ng-click="masinfo = 1">Mas datos <b class="caret"></b></a></center>
        
        </div>
        <div class="mas-info" ng-show="masinfo == 1">

            </br>

            <div class="input-group">

                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-euro"></span>
                </span>
                <fieldset>
                    <input type="text" class="form-control" placeholder="Precio" name="precio" ng-model="newCard.price">

                </fieldset>

            </div>

            </br>
            <div class="input-group">

                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-comment"></span>
                </span>
                <fieldset>
                    <input type="text" class="form-control" placeholder="Descripcion" name="descripcion" ng-model="newCard.description">

                </fieldset>

            </div>
            </br>

            <div class="input-group">

                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-pushpin"></span>
                </span>
                <fieldset>
                    <input type="text" class="form-control" placeholder="Link" name="link" ng-model="newCard.link">

                </fieldset>

            </div>

            </br>
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-road"></span>
                </span>
                <fieldset>
                    <select class="form-control" ng-model="newCard.transportType" ng-options="f for f in transportTypes">
                        <option value="" disabled selected>Selecciona el método de transporte</option>
                        <option></option>
                    </select>
                </fieldset>
            </div>
            </br>
            <div class="row">
                <div ng-controller="DatepickerDemoCtrl">
                    <div class="col-md-6">
                        <p class="input-group">
                            <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="newCard.initDate" is-open="opened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" close-text="Close" />
                            <span class="input-group-btn">
                                <button class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </p>
                    </div>
                </div>

                <div ng-controller="DatepickerDemoCtrl">

                    <div class="col-md-6">
                        <p class="input-group">
                            <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="newCard.finalDate" is-open="opened" min="newCard.initDate" max="'2015-06-22'" datepicker-options="dateOptions" close-text="Close" />
                            <span class="input-group-btn">
                                <button class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            </br>
            <center><a type="button" ng-click="masinfo = 0" data-toggle="dropdown">Menos datos <b class="caret" data-toggle="dropdown"></b></a></center>
        </div>

    </form>

</div>
<div class="modal-footer">

    <button type="button" class="btn btn-default" ng-click="cancel()">Cancelar</button>

    <button type="button" class="btn btn-primary" btn-loading="{{ isCreatingCard }}" data-loading-text="Creando..." ng-click="addCardTransport(newCard)" ng-disabled="formAddCardTransport.$invalid">Crear</button>
</div>