<!--MODAL ADD CARD-->
<!--<div class="modal fade" id="CrearCard" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">-->
<div class="modal-header">

    <button type="button" class="close" ng-click="cancel()">&times;</button>

    <h4 class="modal-title" id="myModalLabel">Elige el tipo de la nueva card</h4>
</div>
<div class="modal-body">

    <button type="button" class="btn btn-primary btn-lg" ng-click="chooseTypeOfCard('transport')">Transporte</button>

    <button type="button" class="btn btn-primary btn-lg" ng-click="chooseTypeOfCard('place2sleep')">Alojamiento</button>

    <button type="button" class="btn btn-primary btn-lg" ng-click="chooseTypeOfCard('other')">
        Otros</button>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">No quiero añadir una card</button>
</div>
<!--
</div>
</div>
</div>

-->