<!-- MENU PARA NO ACEPTAR PLAN --> 
            
<div class="modal-header" ng-controller="GroupCtrl">
   
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Rechazar este pack a {{destinationMoreVotated}}</h4>

</div>
<div class="modal-body" ng-controller="GroupCtrl">
    
    <div class="input-group">
       
        ¿Estás seguro de que quieres rechazar definitivamente este plan? </br></br>
        Destino: {{destinationMoreVotated}} </br>
        Transporte: {{transportMoreVoted.name}} </br>
        Alojamiento: {{sleepMoreVoted.name}} </br>
    	
    </div>

</div>
<div class="modal-footer">
    
    <button type="button" class="btn btn-default" ng-click="cancel()">Cancelo</button>
    <button type="button" class="btn btn-primary btn-danger" ng-click="UserNoAcceptedPlan()">Rechazo</button>
    
</div>

