<div class="cl_content">

    <!-- TOOLBAR CON LOGO TRIPBOX Y USUARIO -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://localhost:9000/#/groups">Tripbox</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">{{ infoUser.name }} {{ infoUser.lastName }} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a ng-click="logoutUser()">Salir de la cuenta</a>
                            </li>

                        </ul>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div id="generalContainer" ng-controller="GroupCtrl">

        <ol class="breadcrumb" ng-show="!destinationSelected">
            <li><a href="#/groups" ng-click="Reset()">Groups</a>
            </li>
            <li><a href="#/groups/{{infoGroup.id}}" ng-click="Reset()">{{infoGroup.name}}</a>
            </li>
            <li class="active">Plan para ir a: {{destinationMoreVotated}}</li>
        </ol>

    </div>
    <div class="generalContainer">

        <div class="plan">

            <div class="principal">

                <div class="row">

                    <div class="Cards">
                        <div id="transportCardsRow">
                            <div class="card-wrapper">
                                <div class="card item transport">
                                    <div class="bubble">
                                        <i class="fa fa-road"></i>
                                    </div>
                                    <div class="grey-box">
                                        <div class="content" ng-mouseenter="setHoveredCard(card)" ng-mouseleave="">
                                            <div class="caption">
                                                <h2>{{transportMoreVoted.name}}</h2>
                                            </div>
                                            <div class="description">{{transportMoreVoted.description}}</div>
                                            <div class="money"><i class="fa fa-money"></i>{{transportMoreVoted.price }}
                                            </div>
                                            <div class="date"><i class="fa fa-calendar"></i>{{transportMoreVoted.initDate | date:'dd/MM/yy'}}-{{transportMoreVoted.finalDate | date:'dd/MM/yy'}}</div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="placeToCardsRow">
                            <div class="card-wrapper">
                                <div class="card item placeToSleep">
                                    <div class="bubble">
                                        <i class="fa fa-home"></i>
                                    </div>
                                    <div class="grey-box">
                                        <div class="content">
                                            <div class="caption">
                                                <h2>{{sleepMoreVoted.name}}</h2>
                                            </div>
                                            <div class="description">{{sleepMoreVoted.description}}</div>
                                            <div class="money"><i class="fa fa-money"></i>{{sleepMoreVoted.price}}€
                                            </div>
                                            <div class="date"><i class="fa fa-calendar"></i>{{sleepMoreVoted.initDate | date:'dd/MM/yy'}}-{{sleepMoreVoted.finalDate | date:'dd/MM/yy'}}</div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div id="otherCards">
                        <div class="card-wrapper" ng-repeat="card in infoGroup.otherCards">
                            <div class="card item other" ng-click="editCardOther(card)">
                                <div class="bubble">
                                    <i class="fa fa-plus-square"></i>
                                </div>
                                <div class="grey-box">
                                    <div class="content">
                                        <div class="caption">
                                            <h2>{{card.name}}</h2>
                                        </div>
                                        <div class="description">{{card.description}}</div>
                                        <div class="money"><i class="fa fa-money"></i>{{card.price}}€
                                        </div>
                                        <div class="date"><i class="fa fa-calendar"></i>{{card.initDate | date:'dd/MM/yy'}}-{{card.finalDate | date:'dd/MM/yy'}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <br>
                <br>

                <div class="Persons">
                    <center><h1> ¿COMO VA LA ACEPTACIÓN DE ESTE PLAN? </h1></center>
                    <br>
                    <div ng-controller="GroupCtrl">
                        <center>
                        <button class="btn-lg btn-primary btn-success" ng-click="UserAcceptedPlan()">Acepto!</button>


                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 


                        <button class="btn-lg btn-primary btn-danger" ng-click="UserNoAcceptedPlan()">No acepto!</button>
                        </center>
                    </div>
                    <br>
                    <br>
                    <div class="row">

                        <div class="col-md-2 col-md-offset-2">
                            <center>Aceptan el plan:</center>
                            <div class="thumbnail">
                                <div id="cardinfoIndecis" ng-repeat="users in infoUserVoteSi">

                                    {{users.name}} {{users.lastName}}


                                </div>
                            </div>
                        </div>

                        <div class="col-md-2 col-md-offset-1">
                            <center>No han contestado:</center>
                            <div class="thumbnail">
                                <div id="cardinfoIndecis" ng-repeat="users in infoUserNotVote">

                                    {{users.name}} {{users.lastName}}


                                </div>
                            </div>
                        </div>

                        <div class="col-md-2 col-md-offset-1">
                            <center>No aceptan el plan</center>
                            <div class="thumbnail">
                                <div id="cardinfoIndecis" ng-repeat="users in infoUserVoteNo">

                                    {{users.name}} {{users.lastName}}


                                </div>
                            </div>
                        </div>


                    </div>



                </div>







            </div>







        </div>