<div class="cl_content">

    <!-- navigation -->
    <nav class="navbar navbar-default" role="navigation" ng-controller="NavBarCtrl">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">TripBox</a>
            </div>


            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav" ng-repeat="link in leftLinks">
                    <li class="{{ active : link == activeLink">
                        <a ng-href="#{{ link.route }}">{{ link.name }}</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a ng-click="logout()">Logout</a>
                    </li>
                </ul>
            </div>


        </div>
    </nav>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 col-md-offset-2">
            <h2>Ups! Algo ha fallado.</h2>
            <p>Sentimos las moléstias</p>
            <a class="btn btn-primary" ng-href="/">Volver a la página principal</a>
        </div>
    </div>
</div>