<div id="divNab">
    <!-- TOOLBAR CON LOGO TRIPBOX Y USUARIO -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Tripbox</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <form class="navbar-form navbar-left">
                        <button class="btn btn-primary" ng-click="openInviteModal()">Invita a tus amigos</button>
                    </form>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">{{ infoUser.name }} {{ infoUser.lastName }} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a>Salir de la cuenta</a>
                            </li>

                        </ul> 
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
    </nav>
</div>
<div id="generalContainer">
    <ol class="breadcrumb" ng-show="!destinationSelected">
        <li><a href="#/groups">Groups</a>
        </li>
        <li class="active">{{infoGroup.name}}</li>

    </ol>
    <ol class="breadcrumb" ng-show="destinationSelected">
        <li><a href="#/groups">Groups</a>
        </li>

        <li><a href="#/groups/{{infoGroup.id}}" ng-click="tornarVistaGroup()">{{infoGroup.name}}</a>

        </li>
        <li class="active">{{destinationChoosed1.name}}</li>

    </ol>
    <div class="row">
        <div id="divDestins">
            <!--MENÚ DE DESTINOS-->
            <div id="left-menu">
                <ul class="nav nav-pills nav-stacked">
                    <li class="active" ng-repeat="destino in infoGroup.destinations">

                        <a href="" ng-click="destiClicked(destino)" ng-class="{selected: 'selected', opac:'opac'}[isDestRemarc(destino.id)]">
                            <button type="button" class="btn btn-primary btn-xs" ng-click="deleteDestination(destino.id)">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>

                            <span class="glyphicon glyphicon-plane"></span>
                            <span class="badge pull-right">{{destino.percentage}} %</span>
                            {{destino.name}}
                        </a>

                    </li>
                    <li class="active">
                        <a>
                            <center>
                                <button type="button" class="btn btn-primary btn-xs" ng-click="openAddDestinationModal()">
                                    <span class="glyphicon glyphicon-plus-sign"></span>
                                </button>
                            </center>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!--     <div ng-show="alertDestinationRepeat">
        <div class="alert alert-danger">
            <span>El destino que usted intenta añadir, ya se encuentra en la lista de destinos.</span>
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closeAlert()">Aceptar</button>
        </div>
    </div> -->

        <div id="cardsContainer">
            <div class="breadcrumb" ng-show="checkPlan">
                <div ng-hide="bestPackTrue">
                    <button class="btn btn-default" ng-click="isCollapsed = !isCollapsed">Posible plan!</button>&nbsp&nbsp Aqui puedes ver el plan que nosotros te recomendamos a traves de tus votaciones!
                </div>
                <div ng-show="bestPackTrue">
                    <button class="btn btn-default" ng-click="isCollapsed = !isCollapsed">Posible plan!</button>&nbsp<a  href="#/groups/{{infoGroup.id}}/check"><button class="btn btn-default btn-primary">Ver información del plan</button></a>&nbsp&nbsp Aqui puede ver y votar el plan que se esta eligiendo!
                </div>
                
                
                <div collapse="isCollapsed">
                    </br>
                    <div>

                        <div class="check-box">
                            <div class="cardsRow list-group-item clearfix" id="otherCardsRow">

                                <div class="col-md-3" ng-hide="bestPackTrue">
                                    Plan para ir a: {{destinationMoreVotated}}
                                    </br>
                                    </br>
                                    </br>
                                    </br>
                                    </br>
                                    </br>
                                    <button class="btn-lg btn-primary" ng-click="AcceptedPlan()">Check Plan!</button>

                                </div>
                                <div class="col-md-3" ng-show="bestPackTrue">
                                    Plan para ir a: {{destinationMoreVotated}}
                                    </br>
                                    </br>
                                    </br>
                                    </br>
                                    <button class="btn-lg btn-primary btn-success" ng-click="UserAcceptedPlan()">Acepto!</button>
                                    </br>
                                    
                                    </br>
                                    <button class="btn-lg btn-primary btn-danger" ng-click="UserNoAcceptedPlan()">No acepto!</button>

                                </div>
                                <div class="Cards">
                                    <div id="transportCardsRow">
                                        <div class="card-wrapper">
                                            <div class="card item transport">
                                                <div class="bubble">
                                                    <i class="fa fa-road"></i>
                                                </div>
                                                <div class="grey-box">
                                                    <div class="content" ng-mouseenter="setHoveredCard(card)" ng-mouseleave="">
                                                        <div class="caption">
                                                            <h2>{{transportMoreVoted.name}}</h2>
                                                        </div>
                                                        <div class="description">{{transportMoreVoted.description}}</div>
                                                        <div class="money"><i class="fa fa-money"></i>{{transportMoreVoted.price }}
                                                        </div>
                                                        <div class="date"><i class="fa fa-calendar"></i>{{transportMoreVoted.initDate | date:'dd/MM/yy'}}-{{transportMoreVoted.finalDate | date:'dd/MM/yy'}}</div>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="placeToCardsRow">
                                        <div class="card-wrapper">
                                            <div class="card item placeToSleep">
                                                <div class="bubble">
                                                    <i class="fa fa-home"></i>
                                                </div>
                                                <div class="grey-box">
                                                    <div class="content">
                                                        <div class="caption">
                                                            <h2>{{sleepMoreVoted.name}}</h2>
                                                        </div>
                                                        <div class="description">{{sleepMoreVoted.description}}</div>
                                                        <div class="money"><i class="fa fa-money"></i>{{sleepMoreVoted.price}}€
                                                        </div>
                                                        <div class="date"><i class="fa fa-calendar"></i>{{sleepMoreVoted.initDate | date:'dd/MM/yy'}}-{{sleepMoreVoted.finalDate | date:'dd/MM/yy'}}</div>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="cardsRandom" ng-show="!destinationSelected">
                <!--Cards-->
                <div class="row">
                    <div class="card-wrapper" ng-repeat="card in trans">
                        <div class="card item transport" ng-click="editCardTransport(card)">
                            <div class="bubble">
                                <i class="fa fa-road"></i>
                            </div>
                            <div class="grey-box">
                                <div class="content">
                                    <div class="caption">
                                        <h2>{{card.name}}</h2>
                                    </div>
                                    <div class="description">{{card.description}}</div>
                                    <div class="money"><i class="fa fa-money"></i>{{ card.price}}€
                                    </div>
                                    <div class="date"><i class="fa fa-calendar"></i>{{card.initDate | date:'dd/MM/yy'}}-{{card.finalDate | date:'dd/MM/yy'}}</div>
                                </div>
                                <div class="bottom-box">
                                    <div class="mean-valoration">
                                        <span>{{card.average}}</span>
                                    </div>
                                    <div class="stars-wrapper">

                                        <rating value="transportVotes[card.cardId]" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" ng-click="putVote(card.cardId,transportVotes[card.cardId],card.cardType); $event.stopPropagation();">

                                    </div>
                                    <div class="link-btn"><i class="fa fa-chain"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="card-wrapper" ng-repeat="card in place">
                        <div class="card item placeToSleep" ng-click="editCardPlace2Sleep(card)">
                            <div class="bubble">
                                <i class="fa fa-home"></i>
                            </div>
                            <div class="grey-box">
                                <div class="content">
                                    <div class="caption">
                                        <h2>{{card.name}}</h2>
                                    </div>
                                    <div class="description">{{card.description}}</div>
                                    <div class="money"><i class="fa fa-money"></i>{{ card.price}}€
                                    </div>
                                    <div class="date"><i class="fa fa-calendar"></i>{{card.initDate | date:'dd/MM/yy'}}-{{card.finalDate | date:'dd/MM/yy'}}</div>
                                </div>
                                <div class="bottom-box">
                                    <div class="mean-valoration">
                                        <span>{{card.average}}</span>
                                    </div>
                                    <div class="stars-wrapper">

                                        <rating value="sleepVotes[card.cardId]" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" ng-click="putVote(card.cardId,sleepVotes[card.cardId],card.cardType); $event.stopPropagation();">

                                    </div>
                                    <div class="link-btn"><i class="fa fa-chain"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="card-wrapper" ng-repeat="card in others">
                        <div class="card item other" ng-click="editCardOther(card)">
                            <div class="bubble">
                                <i class="fa fa-plus-square"></i>
                            </div>
                            <div class="grey-box">
                                <div class="content">
                                    <div class="caption">
                                        <h2>{{card.name}}</h2>
                                    </div>
                                    <div class="description">{{card.description}}</div>
                                    <div class="money"><i class="fa fa-money"></i>{{card.price}}€
                                    </div>
                                    <div class="date"><i class="fa fa-calendar"></i>{{card.initDate | date:'dd/MM/yy'}}-{{card.finalDate | date:'dd/MM/yy'}}</div>
                                </div>
                                <div class="bottom-box">
                                    <div class="mean-valoration">
                                        <span>{{card.average}}</span>
                                    </div>
                                    <div class="stars-wrapper">

                                        <rating value="otherVotes[card.cardId]" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" ng-click="putVote(card.cardId,otherVotes[card.cardId],card.cardType); $event.stopPropagation();">

                                    </div>
                                    <div class="link-btn"><i class="fa fa-chain"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-wrapper">
                        <div class="card group create" ng-click="openCreateCardModal()">
                            <i class="fa fa-plus-circle"></i>
                            <h2>Añade una propuesta</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-include="'views/destination.html'" ng-if="destinationSelected"></div>
        </div>
    </div>
</div>