<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Crea un grupo</title>
	<script type="text/javascript" src="styles/main.scss"></script>
</head>
<body>
	<div class="jumbotron">
		<div class="panel panel-default">
  			<div class="panel-body">
    			<div id="logo">
					<img src="images/yeoman.png" alt="Tripbox Logo" height="50" width="50">
				</div>
				<div id="company_name">
					<span>TripBox</span>
				</div>
				<div id="user_name">
					<span>Alejandro</span>
				</div>
				<div id="photo">
					<img src="images/yeoman.png" alt="Tripbox Logo" height="50" width="50">
				</div>
  			</div>
		</div>
		<div class="page-header">
			<h1>No esperes más, ¡crea tu grupo en TripBox!</h1>
		</div>
		<div class="row">
  			<div class="col-sm-6 col-md-6">
   				 <div class="thumbnail">
      				<img src="images/yeoman.png" alt="Image group" height="150" width="150">
      				<div class="caption">
        				<h4>Group Name</h4>
        				<button type="button" class="btn btn-default btn-lg">
  							<span class="glyphicon glyphicon-plus-sign"></span> Show more details
						</button>
      				</div>
  				</div>
  			</div>
		</div>
</body>
</html>