<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
  
    <title>Tus Grupos!</title>
    <script type="text/javascript" src="./styles/style_groups.scss"></script>
    <script type="text/javascript" src="./bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="./bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="./scripts/controllers/controller.js"></script>
    

</head>
<body ng-app>

  
    <div class="cl_content">

        <!-- navigation -->
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><img src="images/yeoman.png" alt="Image group" height="45" width="45"/></li>
                            <li><p class="navbar-text">TripBox</p></li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            <li><p class="navbar-text">Perfil</p></li>
                            <li><img src="./scripts/controllers/yeoman.png" alt="Image group" height="45" width="45"/></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <div class="jumbotron"> 

            <!-- Groups -->

            <div ng-controller="'MainCtrl'">
                
                <li ng-repeat="group in groups">
                    <span>{{group.name}}</span>
                    <img src="images/yeoman.png" alt="Image group" height="45" width="45"/>
                </li>
                   
                
            </div>



            
            <div class="row">

                <div class="col-md-4">
                    <div class="thumbnail">
                        <div id="cardfoto">

                            <center><img src="images/groups/1.jpg" alt="Image group" height="150" width="150"></center>
                  
                        </div>
                      
                        <div id"cardname">
                      
                            <p>{{group.name}}</p>
                      
                        </div>

                        <div id="cardinfo">

                            <center><p>→</p></center>

                        </div>
                    </div>  
                </div>

                <div class="col-md-4">
                    <div class="thumbnail">
                        <div id="cardfoto">

                            <center><img src="images/groups/2.jpg" alt="Image group" height="150" width="150"></center>
                  
                        </div>
                      
                        <div id"cardname">
                      
                            <p>{{groups.name}}</p>
                      
                        </div>

                        <div id="cardinfo">

                            <center><p>→</p></center>

                        </div>
                    </div>  
                </div>

                <div class="col-md-4">
                    <div class="thumbnail">
                        <div id="cardfoto">

                            <center><img src="images/groups/3.jpg" alt="Image group" height="150" width="150"></center>
                  
                        </div>
                      
                        <div id"cardname">
                      
                            <p>{{groups.name}}</p>
                      
                        </div>

                        <div id="cardinfo">

                            <center><p>→</p></center>

                        </div>
                    </div>  
                </div>


           

            <!-- New Card -->
           
                <div class="col-md-4">
                    <div class="thumbnail">
                        <div id="cardinfo">

                            <center><p>New Group!</p></center>
                  
                        </div>
                      
                        <div id"addgroup">
                      
                            <center><a href="#" class="glyphicon glyphicon-plus-sign" role="button"></a></center>

                        </div>
                    </div>  
                </div>
           
             </div>
        </div>
    </div>
</body>
</html> 