<div class="main">

    <section class="page1">
        <div class="logo-tripbox">

            <img class="logo" src="images/system/login/logo-azul.png">

        </div>

        <p class="facebook-btn">

            <a class="btn btn-block btn-social btn-facebook" ng-click="loginFacebook()">

                <i class="fa fa-facebook"></i> Conecta con Facebook!
            </a>

        </p>

        <div class="click">
            <!--
                        <a href="http://www.jqueryscript.net/slider/Apple-iPhone-5S-Website-Like-One-Page-Scroll-Plugin-For-jQuery.html" target="_blank">Que es Tripbox? Pulse Aqui! <br></a>
                    -->
            <p class "click-link" data-index="2" href="#2">
                <div class="glyphicon glyphicon-circle-arrow-down"></div>

                Más información sobre Tripbox

                <div class="glyphicon glyphicon-circle-arrow-down"></div>
                <br>
            </p>
        </div>

        <div class="scroll-info">

        </div>
        <div class="margen">

        </div>

    </section>

    <section class="page2">

        <div class="position-tripbox">

            <img class="TripBox-image" src="images/system/logo.png" ondragstart="return false" onselectstart="return false" oncontextmenu="return false">

        </div>

        <div class="info-tripbox">

            <!-- Resolucion de pantalla > 750px -->

            <div class="row">

                <div class="col-md-7 col-sm-7 hidden-xs">

                    <div class="info1">

                        <h1 class="title">¿Qué és Tripbox?</h1>
                        </br>
                        <p class="text">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Tripbox es un servicio que te permite organizar viajes con tus amigos y familiares con gran facilidad. Basta de discusiones por las fechas, el destino o el precio; nuestro sencillo sistema de propuestas y valoraciones os permitirá acordar esos detalles rápidamente.</p>

                    </div>

                </div>

                <div class="col-md-4 col-md-offset-1 col-sm-5 hidden-xs">
                    <img class="img-confucion" src="images/system/login/confusion.png" ondragstart="return false" onselectstart="return false" oncontextmenu="return false">

                </div>

            </div>

            <div class="row">

                <div class="col-md-4 col-md-offset-1 col-sm-5 hidden-xs">

                    <img class="img-resolucion" src="images/system/login/resolucion.png" ondragstart="return false" onselectstart="return false" oncontextmenu="return false">

                </div>

                <div class="col-md-7 col-sm-7 hidden-xs">

                    <div class="info2">

                        <h1 class="title">¿Cómo empiezo?</h1>
                        </br>
                        <p class="text">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Sólo debes iniciar sesión con Facebook y...¡Eso es todo! ¡Fácil y rápido! Olvídate de tediosos registros, validaciones por e-mail y contraseñas...¡Tan sólo disfruta preparando aquellas vacaciones que siempre soñaste!
                        </p>

                    </div>

                </div>

            </div>

            <div class="row">

                <div class="col-md-7 col-sm-7 hidden-xs">

                    <div class="info3">

                        <h1 class="title">Sistema de invitaciones</h1>
                        </br>
                        <p class="text">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Crea grupos de viaje con un sólo click e invita a los amigos y familiares con los que quieras compartir tu futura experiencia. Recibirán una invitación por correo para unirse a él e inmediatamente podrán valorar y crear propuestas. ¡Así de simple!
                        </p>

                    </div>

                </div>

                <div class="col-md-4 col-md-offset-1 col-sm-5 hidden-xs">

                    <img class="img-buzon" src="images/system/login/buzon.png" ondragstart="return false" onselectstart="return false" oncontextmenu="return false">

                </div>

            </div>

            <div class="row">

                <div class="col-md-4 col-md-offset-1 col-sm-5 hidden-xs">

                    <img class="img-cards" src="images/system/login/cards.png" ondragstart="return false" onselectstart="return false" oncontextmenu="return false">

                </div>

                <div class="col-md-7 hidden-xs col-sm-7">

                    <div class="info4">

                        <h1 class="title">Sistema de valoraciones y cartas</h1>
                        </br>
                        <p class="text">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Agrega a tu grupo un destino, un hotel o cualquier otra idea que se te ocurra para el viaje. El resto podrán valorarlos y nosotros nos encargaremos de indicarte qué ideas son más populares </br> ¡Por fin se acabaron las discusiones!
                        </p>

                    </div>

                </div>

            </div>

            <!-- resolucion de pantalla < 750px -->

            <div class="row">

                <div class="col-md-4 visible-xs hidden-md hidden-sm hidden-lg">

                    <div class="info1">

                        <h1 class="title">Que és Tripbox?</h1>
                        </br>
                        <p class="text">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp TripBox és un servició que te permite organizar viajes con tus amigos o familiares facilmente, no tengas mas discusiones por las fechas, por el destino o por el precio, nuestro sistema de propuestas y valoraciones le permitira ponerse de acuerdo con sus amigos o familiares.</p>

                    </div>

                </div>

                <div class="col-md-2 col-md-offset-1 visible-xs hidden-md hidden-sm hidden-lg">

                    <center>
                        <img class="img-confucion" src="images/system/login/confusion.png" ondragstart="return false" onselectstart="return false" oncontextmenu="return false">

                    </center>

                </div>

            </div>

            <div class="row">

                <div class="col-md-4 visible-xs hidden-md hidden-sm hidden-lg">

                    <div class="info2">

                        <h1 class="title">Como empiézo?</h1>
                        </br>
                        <p class="text">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Inicia sesión con Facebook para empezar, eso es todo, facil y rapido. Ahora, ya estas listo para empezar en TripBox y organizar tus vacaciones de ensueño.
                        </p>

                    </div>

                </div>

                <div class="col-md-2 visible-xs hidden-md hidden-sm hidden-lg">

                    <center>
                        <img class="img-resolucion" src="images/system/login/resolucion.png" ondragstart="return false" onselectstart="return false" oncontextmenu="return false">

                    </center>

                </div>

            </div>

            <div class="row">

                <div class="col-md visible-xs hidden-md hidden-sm hidden-lg">

                    <div class="info3">

                        <h1 class="title">Sistema de invitaciones</h1>
                        </br>
                        <p class="text">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Agrege facilmente grupos de viaje e invite a toda la gente con la que quiere ir. Sus conocidos recibiran una invitación de correo para inscribirse a TripBox y a su grupo con mucha facilida.
                        </p>

                    </div>

                </div>

                <div class="col-md visible-xs hidden-md hidden-sm hidden-lg">

                    <center>

                        <img class="img-buzon" src="images/system/login/buzon.png" ondragstart="return false" onselectstart="return false" oncontextmenu="return false">

                    </center>

                </div>

            </div>

            <div class="row">

                <div class="col-md visible-xs hidden-md hidden-sm hidden-lg">

                    <div class="info4">

                        <h1 class="title">Sistema de valoraciones y cartas</h1>
                        </br>
                        <p class="text">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Agrege un destino, un hotel o cualquier cosa que quiera hacer durante el viaje, sus amigos lo votaran y nosotros le diremos cual es el mas indicado para todos!
                        </p>

                    </div>

                </div>

                <div class="col-md visible-xs hidden-md hidden-sm hidden-lg">

                    <center>

                        <img class="img-cards" src="images/system/login/cards.png" ondragstart="return false" onselectstart="return false" oncontextmenu="return false">

                    </center>

                </div>

            </div>

            <div class="videotuto">

                <p id="videotuto">Video presentación Tripbox!</p>

            </div>

            <div class="footer">

                <a href=""> Sobre nosotros </a>
                <a href=""> Ayuda </a>
                <a href=""> Condiciones y privacidad</a>
                <a href=""> Empresa</a>


            </div>

        </div>

    </section>

</div>