<div class="main">

    <section class="page1">
        <div class="container-fluid landing">
            <div class="row">
                <div class="central-column col-xs-8 col-xs-offset-2">
                    <img class="logo" src="images/logo.png" alt="Tripbox">
                </div>
            </div>
            <div class="row">
                <div class="central-column">
                    <p>
                        <a class="btn btn-block btn-social btn-facebook" ng-click="loginFacebook()">
                            <i class="fa fa-facebook"></i> Conecta con Facebook!</a>
                    </p>
                </div>
            </div>
            <div class="margen">
            </div>
        </div>
        <div class="scroll-info">
            <div class="click">
                <a href="http://www.jqueryscript.net/slider/Apple-iPhone-5S-Website-Like-One-Page-Scroll-Plugin-For-jQuery.html" target="_blank">Que es Tripbox? Pulse Aqui! <br></a>
            </div>
        </div>
    </section>
    <section class="page2">
        Informacion!
    </section>