
  <div class="container-fluid landing">
    <div class="row">
      <div class="central-column col-xs-8 col-xs-offset-2">
        <img class="logo" src="images/logo.png" alt="Tripbox">
      </div>
    </div>
    <div class="row">
      <div class="central-column" ng-controller="LoginCtrl">
        <p>
          <a class="btn btn-block btn-social btn-facebook" ng-click="loginFacebook()" >
          <i class="fa fa-facebook"></i> Conecta con Facebook!</a>
        </p>
      </div>
    </div>
  
