    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <img src="images/logo.png" alt="Image group" height="50" width="42" />
                        </li>
                        <li>
                            <p class="navbar-text">TripBox</p>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <p class="navbar-text">{{infoUser.name}} {{infoUser.lastName}}</p>
                        </li>
                        <li>
                            <a class="glyphicon glyphicon-user" height="70" width="70"/>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>